@media (min-width: 800px) {  
    aside {position: static; width: 100%;}
    .layout {--sidebar-min-width: 264px;} 
  }
  
@media (max-width: 799px) { 
    aside {display: none;}
}

html {
    height: 100%;
  }

body {
    margin:0;
    font-family:"Open Sans", Verdana, Tahoma, Arial, Helvetica, sans-serif;
    height: 100%;
}

.container {
    margin:auto;
    height: 100%;
}

/* post-list */
.layout {
    display: grid;
    flex-direction: row;
    grid-template-columns: max(var(--sidebar-min-width),24%) 1fr;
    min-height: 100%;
}
.main-content {
    padding-left: 45px;
    padding-right: 20px;
    padding-bottom: 10px;
    flex-grow: 1;
    max-width: 973px;
    overflow: hidden;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 85px;
    text-align: center;
}

.post {
    border-bottom: 1px solid #000;
    padding: 0 0 13px;
    margin-top: 13px;
}

h3 {
    color:#000;
}

.post a {
    text-decoration: none;
    color:#000;
}

.post-category {
    font-style: italic;
    color:#000;
    margin-bottom: 2px;
    margin-top: 8px;
    font-size: 15px;
    display: flex;
    gap: 10px;
}

.post-category a {
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(117, 166, 238, 0.795);
    background-color: rgb(204, 204, 247);
}

.post-category a:hover {
    color: rgb(39, 146, 39);
}

.post-body {
    margin-top: 15px
}

.post-owner {
    font-style: italic;
    margin-bottom: 2px;
}

.date-comments {
    display: flex;
    gap: 15px;
}

.date-comments img{
    width: 24px;
    height: 24px;
}

/* post-detail */
.post-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-wrapper {
    max-width: 700px;
    width: 100%;
}

.post-header-detail {
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 22px;
    margin-top: 16px;
}

.post-owner a {
    text-decoration: none;
    color: #000;
}

.post-category {
    text-decoration: none;
}

.count-comments img {
    width: 48px;
    height: 48px;
}

.count-comments small {
    font-size: 20px;
}

.comments {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    border:1px solid;
    border-radius: 30px;
    margin: 10px;
}

.comment-info {
    /* margin: 10px; */
    padding: 20px;
    min-height: 100px;
}

.comment-owner {
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 0;
}

.comment-date {
    font-size: 14px;
    margin-left: 8px;
}

.comment-text {
    margin-top: 20px;
    margin-bottom: 0;
}

.form-control {
    height: 100px;
}

/* category-list */
.category-info a {
    text-decoration: none;
    border: 8px solid transparent;
    box-shadow: 0 0 8px rgba(117, 166, 238, 0.795);
    background-color: rgb(204, 204, 247);
}

.category-name a:hover {
    color:blue;
}

.category-info {
    margin-bottom: 35px;
    margin-top: 35px;
}

.category-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-wrapper {
    max-width: 700px;
    width: 100%;
}

/* category-detail */


.category-post a {
    text-decoration: none;
}

.category-post-body {
    margin-top: 13px
}

.category-post-body a {
    text-decoration: none;
    color: #000;
}

/* addpost */
.form {
    margin: auto;
    text-align: center;
}

form {
    margin: auto;
}

.addpost label {
    display: block;
    margin: 10px 0;
}

input[type=text] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(42, 41, 46, 0.74);
}

textarea {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(42, 41, 46, 0.74);
    height:150px;
}

ul {
    list-style-type: none;
}

select {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(42, 41, 46, 0.74);
    height:150px;
    width: 150px;
}

/* addcategory */
.addcategory label {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
}

.addcategory input {
    margin: 10px 0;

}

/* login */
.login {
    margin: auto;
    text-align: center;
}

.login label {
    margin: 10px 15px 10px 0;
}

input[type=password] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(42, 41, 46, 0.74);
}


/* logged_out */
.logged-out {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

/* signup */
.register-form label {
    display: block;
    margin: 10px 0;
}

.register-form span {
    display: block;
    margin: 10px 0;
}

.register-form ul {
    list-style-type: circle;
}

/* navbar */
.navbar-brand {
    margin-left: 35px;
    margin-right: 35px;
}

.navbar-nav {
    margin: auto;
    padding: auto;
}

.logo-icon {
    margin-left: 10px;
    margin-right: 15px;
}

.logo {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 24px;
}

/* footer */
footer {
    padding-top: 1.5rem!important;
    position:absolute;
    width: 100%;
}

.footer p{
    color:#fff;
    margin-left: 35px; 
}

.footer ul{
    margin-right: 35px;
}

.foot-link a{
    color:#fff
}

/* sidebar */

.sidebar-menu {
    position: fixed;

}

.sidebar a{
    color: #000;
}

/* user_form */
.profile label {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
}

.profile span {
    display: block;
    margin: 10px 0;
}

input[type=email] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(42, 41, 46, 0.74);
}

/* user_detail */
.user-header {
    border-bottom: 1px solid #000;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 5px;
}

.all-user-info {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.name-value,
.email-value,
.date-joined-value {
    font-weight: 550;
}

.publication {
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px
}

.publication a {
    padding: 0 25px;
    font-size: 25px;
}
